<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body>
<main role="main" class="container">
    <br/>
    <br/>
    <div>
        <h1> Notes </h1>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="note : ${notes}" scope="col">
                <tr>
                    <td th:text="${note.title}">Title</td>
                    <td th:text="${note.text}">Text</td>
                    <td th:text="${note.priority}">Priority</td>
                    <td>
                        <a th:href="@{'/dynamodb/notes/' + ${note.uuid} + '/edit'}">
                            <button type="button" class="btn btn-primary">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </button>
                        </a>
                        <a th:href="@{'/dynamodb/notes/' + ${note.uuid} + '/delete'}">
                            <button type="button" class="btn btn-warning">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg>
                            </button>
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <a href="/dynamodb/notes/create">
            <button type="button" class="btn btn-primary">Add note</button>
        </a>
    </div>
    <br/>
    <br/>
    <div>
        <h1>Tables</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Creation date</th>
                <th>Size in bytes</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="table : ${tables}" scope="col">
                <tr>
                    <td th:text="${table.name}">Name</td>
                    <td th:text="${table.getFormattedCreationDate()}">Creation date</td>
                    <td th:text="${table.sizeBytes}">Size</td>
                </tr>
            </th:block>
        </table>
        <a href="/dynamodb/tables/create">
            <button type="button" class="btn btn-primary">Add table</button>
        </a>
    </div>
    <br/>
    <br/>
</main>
</body>
</html>